h1 {
  font-weight: 300;
  font-size: 50px;
}

p {
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.palette-container {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.color-container {
  align-items: center;
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.color-lock {
  padding: 20px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}

.generate-palette-btn {
  padding: 10px;
  background-color: white;
  border: 1px black solid;
  color: black;
  font-size: 18px;
  border-radius: 5px;
}

/* .sa-locksaved {
  background-image: url("../../images/locked.svg");
  padding: 20px;
} */
