.palette-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.box-color {
  border: 1px solid;
  margin: 3px 10px;
  height: 45px;
  width: 15%
}

.palette-title {
  width: 200px;
}

.delete-btn {
  cursor: pointer;
}